.note {
  border: 1px solid var(--foreground-color);
  padding: 7px;
  min-width: 12rem;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
  color: var(--foreground-color);
}

.note-collection {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem;
  gap: 1.5rem;
}

.note-descr {
  width: 100%;
}

.note-descr > ol,
.note-descr > ul {
  margin-left: 1rem;
}

.note-descr img {
  width: 10rem;
  height: 10rem;
}

.note-options-set {
  justify-content: flex-end;
  cursor: pointer;
  gap: 10px;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: -webkit-fill-available;
}
.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  background: var(--accent-one-color);
  margin-bottom: 30px;
}

@media only screen and (max-width: 750px) {
  .my-masonry-grid {
    flex-direction: column;
  }
}
