.note {
  border: 1px solid black;
  padding: 7px;
  min-width: 12rem;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
}

.note-collection {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem;
  gap: 1.5rem;
}

.note-descr {
  width: 100%;
}

.note-descr img {
  width: 10rem;
  height: 10rem;
}

.note-options-set {
  justify-content: flex-end;
  cursor: pointer;
  gap: 10px;
}
