.log-out {
  width: 6rem;
}

.header-left {
  width: 12rem;
}

.header-mid {
  background-color: var(--accent-three-color);
  border: none;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  left: 3rem;
}
.search-bar {
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: var(--accent-three-color);
  outline: none;
  border: none;
  color: var(--foreground-color);
}
.search-bar:focus {
  outline: none;
}

.header-bar {
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 3.8rem;
  padding: 1rem;
  background-color: var(--accent-one-color);
  z-index: 2;
}
.header-right {
  width: 10rem;
}

.header-righthm {
  gap: 1rem;
}

.auth-btn {
  width: 4rem;
  font-size: 1rem;
  margin-right: 1.2rem;
  background-color: var(--foreground-color);
  color: var(--background-color);
  text-decoration: none;
  font-weight: bold;
}

.header-icon {
  color: var(--foreground-color);
}
.ham-burger:focus {
  background-color: var(--hover-bg-color);
}

.ham-burger {
  border: none;
  background-color: var(--accent-one-color);
  border-radius: 50%;
  padding: 5px;
}

.web-logo {
  cursor: pointer;
  text-decoration: none;
}

.filter-icon {
  font-size: 2rem;
  color: var(--foreground-color);
  cursor: pointer;
}

.search-active {
  display: initial;
}
.search-hide {
  display: none;
}

@media only screen and (max-width: 730px) {
  .header-righthm {
    margin: auto;
  }
  .header-righthm button {
    display: none;
  }

}

@media only screen and (min-width: 730px) {
  .header-mid {
    left: auto;
  }
}
