/* forms */
.form-wrap {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: var(--foreground-color);
  margin-top: 5rem;
  border: 1px solid var(--accent-one-color);
}

.form-mid {
  margin: 1rem;
  gap: 0.7rem;
}

.form-text {
  color: var(--hmpg-secondary-color);
  font-weight: bold;
  cursor: pointer;
}

.form-input-txt {
  width: 18rem;
}

.form-input-box {
  padding: 0.7rem 0;
  text-align: left;
  border: none;
  border-bottom: 1px solid var(--btn-primary-color);
  background-color: var(--accent-one-color);
  color: var(--foreground-color);
}

.form-input-box:focus {
  outline: none;
}

.form-block {
  gap: 1rem;
  width: fit-content;
}
/* login */
.newAcc {
  cursor: pointer;
  color: var(--hmpg-secondary-color);
  text-decoration: none;
}

.acc-color {
  accent-color: var(--secondary-color);
}

.guest-log-btn{
  background-color: var(--background-color);
  color: var(--foreground-color);
}
