.main-content{
    display: flex;
}

.note-content{
    flex-grow: 1;
    height: 100vh;
    margin-left:11rem;
    margin-top: 3.8rem;
    background-color:var(--hover-color);
}

.note-hide{
    margin-left:4.3rem;
}


@media only screen and (max-width:750px){
    .note-hide{
        margin-left:0;
    }
    .note-content{
        margin-left:2rem;
    }
}

