.create-note {
  width: fit-content;
  margin-top: 6rem;
  margin-left: 5rem;
  border: 1px solid var(--foreground-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}

.note-options {
  height: 3rem;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.label-txt {
  width: 7rem;
  height: 2rem;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 5px;
  background-color: var(--accent-one-color);
  color: var(--foreground-color);
}

.note-title-input {
  width: 17rem;
  border: none;
  outline: none;
  height: 2rem;
  margin-right: auto;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-size: 1.5rem;
}

.add-btn {
  width: 5rem;
  height: 2.5rem;
}

.close-btn {
  background-color: var(--accent-one-color);
  color: var(--foreground-color);
}

.color-palette {
  color: var(--foreground-color);
  cursor: pointer;
}
.note-title-pin {
  width: 100%;
}
.note-pin {
  border: none;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-size: 1.5rem;
  cursor: pointer;
}

@media only screen and (max-width: 650px) {
  .create-note {
    margin-left: 1rem;
  }
}

@media only screen and (min-width: 850px) {
  .create-note {
    width: 42rem;
  }
  .note-title {
    width: 100%;
  }
}
