.home-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  flex-basis: 50%;
}

.home-intro {
  margin: 0 2rem;
  gap: 3rem;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  background-color: var(--background-color);
}
.sec-color {
  color: var(--btn-primary-color);
}

.home-descr {
  gap: 5rem;
  margin: auto;
}
.home-descr h2 {
  color: var(--hmpg-secondary-color);
}

.home-descr p {
  font-size: 1.5rem;
  color: var(--offline-color);
}

.home-descr-data {
  color: var(--foreground-color);
}

.bold {
  font-weight: bold;
  font-size: 1.5rem;
}
.undle {
  text-decoration: none;
}

@media only screen and (max-width: 980px) {
  .home-intro {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
  }
  .home-img {
    display: none;
  }
}
