.sidebar {
  height: 100vh;
  font-size: 1.5rem;
  overflow: hidden;
  padding: 1rem;
  position: fixed;
  top: 3.8rem;
  border-right: 1px solid var(--cta-color);
  left: -100%;
  transition: 850ms;
  background-color:var(--white-color);
  z-index: 1;
}

.sidebar.active{
   left: 0;
   transition: 550ms;
}

.sidebar-item{
  padding: 6px;
  height:2.5rem;
  width: 100%;
  border-radius: 10px;
}

.sidebar-item:hover {
background-color: var(--hover-color);
}

.side-hide{
  display: none;
}

.active{
  transition: all .1s ease-out;
}

@media only screen and (max-width:750px){
  .sidebar{
      padding:0;
  }
}